@model IEnumerable<Movie_Catalog.Models.Movie>

@{
    ViewData["Title"] = "All Movies";
}

<style>
    .movie-card {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

        .movie-card:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            background-color: #cce6ff;
        }

    .display-4 {
        font-family: 'Garamond', sans-serif;
    }

    .mt-4 {
        font-family: 'Garamond', sans-serif;
    }

    .movie-details-container {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        max-width: 900px;
        margin: 20px auto;
    }

    .movie-cover {
        max-width: 100%; 
        height: 300px; 
        object-fit: cover; 
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>

<div class="text-center">
    <h1 class="display-4">All Movies</h1>
    <a href="@Url.Action("Create", "Movies")" class="btn btn-success mb-3">Add New Movie</a>

    <div class="row mt-4">
        @foreach (var movie in Model)
        {
            <div class="col-md-4">
                <div class="card movie-card mb-4" style="width: 18rem;">
                    <div class="card-body">
                        <div class="movie-details-container">
                            <img src="@movie.PosterUrl" alt="Cover of @movie.Title" class="movie-cover">
                        </div>
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.Description</p>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">Details</a>
                        @if (ViewData["UserRole"]?.ToString() == "Admin")
                        {
                            <a asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-warning">Edit</a>
                            <a asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger">Delete</a>
                        }
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
