@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MovieCatalog.Models.Movie>

@{
    ViewData["Title"] = "Статистики и ревюта на филми";
}
<style>
    .movie-card {
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        background: #ccccff;
        transition: background-color 0.3s ease;
    }

        .movie-card:hover {
            background: #b3b3ff; /* Светло синьо избледняване */
        }

        .movie-card h3 {
            margin: 0;
            color: #333;
        }

        .movie-card ul {
            list-style-type: none;
            padding: 0;
        }

        .movie-card li {
            background: #fff;
            padding: 10px;
            margin-top: 5px;
            border-radius: 5px;
        }

    h1 {
        text-align: center;
        margin: 20px;
    }

    body {
        font-family: 'Garamond', sans-serif;
    }

</style>
<body>
    <h1><strong>Movies statistics and reviews</strong></h1>

    @foreach (var movie in Model)
    {
        <div class="movie-card">
            <h3>@movie.Title</h3>
            <br>
            <p><strong>Avarage rating:</strong> @movie.Statistic?.AvgRating</p>
            <p><strong>Views:</strong> @movie.Statistic?.Views</p>

            <h4>Reviews:</h4>
            @if (movie.Reviews != null && movie.Reviews.Any())
            {
                <ul>
                    @foreach (var review in movie.Reviews)
                    {
                        <li>
                            <strong>@review.User?.Username</strong>:
                            <span>(@review.Rating/10)</span>
                            <p>@review.ReviewText</p>
                            <small>Added on: @review.CreatedAt.ToShortDateString()</small>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>Няма ревюта за този филм.</p>
            }
        </div>
    }
</body>

